{
  "presets": [
    [
      "es2015",
      "stage-3"
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ],
  "env": {
    "test": {
      "presets": ["es2015"]
    },
    "dev": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": "60"
          }
        }]
      ],
      "plugins": [
        "transform-runtime",
        "transform-object-rest-spread",
        "babel-plugin-transform-es2015-destructuring"
      ],
    }
  }
}
