{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            /* benefit of C/S/FF/Edge only? */
            "> 1%",
            "last 2 versions",
            "Firefox ESR",
            "not dead"
          ],
          "node": "8"
        },
        "useBuiltIns": "entry",
        "corejs": "2"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-destructuring"
  ]
}
