{
  "root": true,
  "extends": "eslint-config-airbnb-base",
  "env": {
    "shared-node-browser": true,
    "es6": true,
    "es2017": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "arrow-body-style": 0, // will be eliminated by prettier

    "no-param-reassign": 0, // needs to be eliminated in future
    "no-use-before-define": [2, "nofunc"] // needs to be eliminated in future
  }
}
