node_modules/
bower_components/
npm-debug.log*
sessions/
.idea
*.iml
*.sublime-project
*.sublime-workspace
swagger-ux/
junit-reports/
coverage/
build-info.json
env.properties
local.yaml
.deps.json
/.karma
diagrams/
notes/
.DS_Store
.deps_check
test/specmap/data/private
browser
package-lock.json
