node_modules/
bower_components/
npm-debug.log*
dist/
sessions/
.idea
*.iml
*.sublime-project
*.sublime-workspace
swagger-ux/
junit-reports/
coverage/
build-info.json
env.properties
local.yaml
.deps.json
/.karma
/lib
/es
diagrams/
notes/
.DS_Store
.deps_check
test/specmap/data/private
test/webpack-bundle/.tmp
/swagger-client-*.*.*.tgz
jest-stare

# Automated releases
release/.version
