.rvmrc
.DS_Store
*~
*.swp
*.swo
*.tmproj
log/*.log
test/reports/*
tmp/cache/*
tmp/sessions/*
tmp/sockets/*
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/spec/tmp/*
**.orig